@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Lato&display=swap');

.stoop-logo img{
  display: block;
  margin: auto;
  margin-right: auto;
  width:20%;
  padding-bottom: 20px;
}

.sl-image img{
  width: 80%;
  min-width: 50%;
  height: auto;
  padding: 0;
  margin: 0;
}

.sl,.stoop-socials{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.latest-release{
  text-transform: uppercase;
  text-align: center;
  display:block;
  margin: 0 100px 0px 0;
}

.latest-release h1,h3{
  padding: 0;
  margin: 0;
}

.stoop-socials{
  margin: 25px 100px 0px 0;
}

.right-wrapper{
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  padding: 0;
  /* color: rgb(24, 40, 38); */
  color:rgb(35, 55, 54)
}

/* .stoop-socials i{
  padding: 5px;
} */

.stoop-socials li{
  display: inline;
  list-style-type: none;
  text-transform: uppercase;
  border: 1px solid rgb(35, 55, 54);
  font-size: 12px;
  float: left;
  /* margin-left: 10px;
  margin-right: 10px; */
  margin-top: 10px;
  padding: 5px 20px;
}

.stoop-socials li a:active,a:link,a::before{
  list-style-type: none;
  text-transform: uppercase;
  color: inherit;
  /* border: 1px solid rgb(24, 40, 38); */
  font-size: 15px;
}

.stoop-socials li a:hover,a::after{
  opacity:50%;
}

.copyright-footer{
  text-transform: uppercase;
  text-align: center;
  display:inline;
  margin: 0 100px 0px 0;
/* nav {
  display: flex;
  position: fixed;
  width: 13%;
  left: -13%;
  top: 0;
  height: 100%;
  background-color: rgb(36, 40, 49);
  padding: 0;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  border-bottom: 1px solid gray;
  padding: 30px;
  text-align: center;
}

nav a {
  padding: 5px;
  text-decoration: none;
}

nav ul li a {
  color: gray;
  font-size: 20px;
  width: 25px;
}

nav li a:hover {
  background-color: rgb(73, 75, 79);
}

nav li a:active {
  background-color: rgb(73, 75, 79, 0.5);
}

.logo-cobalt {
  height: 48px;
  float: left;
  margin: 16px 48px;
}

.toggle-btn {
  position: absolute;
  left: 105%;
  top: 15px;
}

.toggle-btn span {
  display: block;
  background-color: rgb(36, 40, 49);
  width: 30px;
  height: 5px;
  margin: 3px;
}

#sidebar.active {
  left: 0;
} */

/* footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  overflow: hidden;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer ul {
  margin: auto;
}

footer ul li {
  float: left;
  list-style-type: none;
  margin-left: 15px;
  margin-right: 15px;
}

footer ul li a {
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 15px;
  text-decoration: none;
} */
